
<header class="header">
  <div class="header_center">
    <div class="header_logo fl" style="position: absolute; z-index:9; margin-top: 0;"><a href="/<%=I18n.locale%>"><img src="/images/site_logo.jpg" alt=""></a></div>
    <!-- menu here TODO -->
    <%= render "partials/menu" %>
    <div class="header_telefon fl" style="float: right !important;">+994 (12/51) <b>566-96-99</b></div>
    <div class="cf"></div>
  </div>
</header>