# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 31aaea28ca6de9069304795a3c548982a21f1f06c4c465916a219265aa908af9857b79e3b23d081eea22ea9ff6b695b4651d6d46d11c3975dc849be289910aef

test:
  secret_key_base: 38cce8f7e0d01f558d2f336fa05590ecb338cbaba964a47d4f6f2dec2551ac13e91909f6003520715502e87d24b7fded4f1756e5616fe9f0bf2682d252d3c86a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
